/*@import "../../../assets/css/formsite.css";*/
@import "../../../assets/css/toolbar.css";

.mcTitle {
  color: darkgoldenrod;
  border-bottom: 2px maroon solid;
}

.lbTitle {
  font-family: Tahoma;
  font-size: 10pt;
}

.divOSGrid {
  height: 62vh;
  width: 42vw;
  float: left;
}

.grdOS {
  height: 60vh;
  width: 40vw;
}
/*
.mat-form-field.mat-form-field {
  font-size: 12px;
}

.mat-form-field label {
  font-size: 15px;
}

.mat-form-field.mat-form-field-should-float label {
  font-size: 12px;
}

mat-form-field.mat-form-field {
  font-size: 14px;
}
*/
