@import "../../../assets/css/formsite.css";
@import "../../../assets/css/toolbar.css";


/*.tbl_header {
  height: 50px;
  background: #00b0f0 !important;
  font-family: Century Gothic;
  text-align: left;
  color: #fff;
  font-weight: 700;
}

.form-title {
  color: white;
  font-family: Lucida Sans Unicode;
  font-size: 18pt;
  margin: 0;
  text-align: left;
  margin-left: 20px;
}*/
