@import "../../../assets/css/formsite.css";
@import "../../../assets/css/toolbar.css";

.grdSKU {
  width: 20vw;
  height: 38vh;
  float: left;
}

.grdConsignee {
  width: 38vw;
  height: 38vh;
  float: left;
}

.grdCharges {
  width: 43vw;
  height: 38vh;
  float: left;
}
